
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout_noImage.cshtml";
    
}
<div class="sec list-product">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12 ">
                <div class="box-contentp">
                    <div class="title-name">
                        <p class="name">Kiến thức về giày</p>
                    </div>
                    <div class="content">
                        <p class="a">Tất cả các yêu cầu cơ bản đều được cân nhắc đến trước khi tạo ra một thiết kế mới. Chiều cao của giày, kích thước bên trong, kết cấu đế, độ chắc của dây buộc, chiều dài bên trong kích thước của toàn bộ chiếc giày được tính toán một cách chính xác.</p>
                        @*<p><img src="~/us/uploads/size-giay-the-thao-1.jpg" style="width: 1300px; height: 500px;" alt=""></p>*@
                        @*<p><img src="~/us/uploads/images.jpg" alt=""></p>*@
                        <p class="b">I.Giày REAL </p>
                        <p>1.Giày REAL là gì?</p>
                        <p>Real ở đây có nghĩ là thật, ý chỉ những thứ thật và không phải giả, vì thế giày real có nghĩa là những đôi giày chính hãng thật, không phải hàng giả và đạo nhái. Đây là tên gọi được đông đảo mọi người sử dụng để phân biệt với những đôi giày hàng giả, hay còn gọi là fake. Chúng còn được hiểu nôm na như là những đôi giày xịn, giày chính thống,… Giày real có rất nhiều tên gọi khác nhau như giày chính hãng, giày authentic, giày auth,…</p>
                        <p>Giày real là những sản phẩm có thương hiệu, nguồn gốc xuất xứ rõ ràng theo pháp luật. Được do chính công ty sở hữu sản xuất theo tiêu chuẩn và chất lượng mà họ đề ra. Chính vì uy tín cũng như sự phát triển của công ty nên thông thường những đôi giày real có chất lượng khá ổn và cao. Vì vậy, bạn hoàn toàn có thể an tâm về chất lượng cũng như độ bền của chúng khi sử dụng.</p>
                        <p>Trong thời đại phát triển ngày nay, đặc biệt là ở Việt Nam, khi thu nhập của người dân ngày càng tăng cao. Những vấn đề cơ bản như cơm, áo, gạo, tiền không còn là một nỗi lo ngại của người dân nữa thì họ bắt đầu quan tâm tới việc tận hưởng cuộc sống hơn. Đây là thời kỳ phát triển bùng nổ cho những sản phẩm chất lượng, trong đó có giày real.</p>
                        <p>Sự đẳng cấp luôn là mục đích hàng đầu của những đôi giày real, đặc biệt là các thương hiệu cực kỳ nổi tiếng trên thế giới về giày như Nike, Adidas, Puma,… Sức hút của những đôi giày đến từ các thương hiệu thời trang ấy chưa bao giờ là nhỏ so với tất cả mọi người trên toàn thế giới dù là trẻ em hay người lớn, là nam hay là nữ.</p>
                        <p>Chính vì vậy mà nếu bạn đang muốn có những trải nghiệm tuyệt vời hoặc chứng minh được sự đẳng cấp của bản thân mà đôi giày real mang lại thì hãy tìm hiểu thật kỹ trước khi mua nhé. Phần sau của bài viết này mình sẽ giới thiệu cho các bạn cách phân biệt giày chính hãng và giày giả mạo hiệu quả.</p>
                        <p>2.Cách phân biệt giày Real và giày Fake</p>    
                        <p>2.1.Giày Fake là gì?</p>
                        <p>Những đôi giày Fake được gia công và sản xuất đúng với câu sao y bản gốc, về ngoại hình có thể giống nhưng chất lượng chắc chắn là kém xa hàng thật tít tắp. Từ độ co dãn, đàn hồi cho đến cảm giác thoải mái, dễ chịu trong từng bước đi và hoạt động thường ngày là không thể so sánh.</p>
                        <p>Nhưng những đôi giày fake này có một đặc điểm mạnh hơn giày real chính là giá thành vô cùng rẻ. Một đôi giày fake có thể có chi phí chỉ bằng 1/10 đôi giày authentic. Điều này là bởi vì giày giả không cần phải tốn chi phí về thiết kế, lên ý tưởng, khảo sát ý kiến khách hàng để có mẫu giày lý tưởng nhất. Bên cạnh đó thì chất liệu để làm ra những đôi giày fake là khá rẻ nên mới tạo ra khoảng cách về sự chênh lệch giá khá lớn này. </p>
                        <p>Những đôi giày fake thường có “tuổi thọ” khá ngắn, nếu bạn không biết giữ gìn thì chúng sẽ bị hư hại ngay, đặc biệt là phần đế hay bị bong tróc ra sau thời gian sử dụng. Trải nghiệm cũng cực kỳ kém khi sử dụng giày fake, cảm giác kích chân và đau đớn khi sử dụng hàng kém chất lượng là không thể tránh khỏi.</p>
                        @*<p>2.2.Cách phân biệt giày Real và giày Fake</p>
                        <p>*Xem xét vỏ hộp</p>*@
                        <p></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

