
@{
    ViewBag.Title = "Gioithieu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="sec list-product">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12 ">
                <div class="box-contentp">
                    <div class="title-name">
                        <p class="name">Giới thiệu</p>
                    </div>
                    <div class="content">
                        <p class="a" >“Một đôi giày có thể thay đổi cuộc đời bạn” Không phải ngẫu nhiên mà điều đó là ứng thực khi nàng mang đôi giày thủy tinh trong buổi tiệc gặp hoàng tử. Câu chuyện ấy ăn sâu vào tiềm thức của các cô bé từ nhỏ lọt lòng mẹ cho tới tận bây giờ, những ai đã từng nghe nghe câu chuyện “Nàng lọ lem” ắt hẳn đã từng rất nhớ nàng Lọ Lem sóng sánh trên đôi giày thủy tinh xinh đẹp mà mình cũng khát khao.</p>
                        <p><img src="~/us/uploads/anh-giay-adidas.jpg" style="width: 1300px; height: 500px;" alt=""></p>
                        @*<p><img src="~/us/uploads/images.jpg" alt=""></p>*@
                        <p class="b">Đến với chúng tôi  bạn không chỉ đơn giản là mua những đôi giày đẹp mà chúng tôi sẽ hướng dẫn các bạn chăm sóc, cũng như giúp bạn hiểu thêm về những đôi giày và cách giữ giày sao cho bền đẹp nhất có thể.</p>
                        <p>LOVE ALL</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<style type="text/css">
    .name {
        font-weight: bold;
        font-size: 33px;
    }

    .a {
        font-size: 17px;
    }
    .b {
        font-size: 17px;
    }
</style>