@model List<Sneakers.Models.DTO.OrderDTO>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout_Home.cshtml";
}

<table class="table">
    <thead>
        <tr>
            <td> Mã sản phẩm</td>
            <td> Tên sản phẩm</td>
            <td> Ảnh sản phẩm</td>
            <td> Số lượng</td>
            <td> Đơn giá</td>
            <td> Thành tiền</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td> Mã sản phẩm</td>
            <td> Tên sản phẩm</td>
            <td> Ảnh sản phẩm</td>
            <td> Số lượng</td>
            <td> Đơn giá</td>
            <td> Thành tiền</td>
        </tr>
    </tbody>

</table>

