
@{
    ViewBag.Title = "Success";
    Layout = "~/Views/Shared/_Layout_noImage.cshtml";
}

<div class="sec list-product">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12 ">
                <div class="box-contentp">
                    <div class="alert alert-success">
                        <span class="-ap icon-info-with-circle"></span>
                        Đơn hàng của bạn đang được xử lý.
                        <a href="@Url.Action("Index","Product")" class="alert-link">Quay lại trang SẢN PHẨM để tiếp tục mua hàng</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


