
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout_noImage.cshtml";
}

<div class="sec list-product">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12 ">
                <div class="box-contentp">
                    <div class="title-name">
                        <p class="name">Các dịch vụ</p>
                    </div>
                    <div class="content">

                        <p class="a">1. Giặt giày</p>
                        <p class="a">2. Chỉnh sửa giày</p>
                        <p class="a">3. Đóng đến  giày</p>
                        <p class="a">4. Phục hồi giày</p>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

